.nav-md, .nav-sm, .left_col, .navbar{
	background-color: #304a63;
}

span.type-investment {
    background: #1ABB9C;
    width: 28px;
    height: 28px;
    color: #ffffff;
    font-family: serif;
    display: block;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    margin: auto;
}

span.type-withdrawal {
    background: #73879C;
    width: 28px;
    height: 28px;
    color: #ffffff;
    font-family: serif;
    display: block;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    margin: auto;
}

span.active {
    background: #26B99A;
    color: #ffffff;
    font-size: 12px;
    display: block;
    text-align: center;
    border-radius: 3px;
    margin: auto;
}

span.inactive {
    background: #d9534f;
    color: #ffffff;
    font-size: 12px;
    display: block;
    text-align: center;
    border-radius: 3px;
    margin: auto;
}

.remove-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#investor-total-investment, #investor-total-investment-return {
    margin-left: 10px;
}

.transaction_row td:nth-child(3) {
    text-align: right;
}

.alert {
    padding: 5px!important;
}

button[btn="in-loan-date-range"] {
    margin-bottom: 0!important;
}

.add-bg {
    background: #fff;
    padding: 7px 10px;
}

.print_mode {
    display: none;
}

.btn {
    margin-bottom: 0!important;
}

input.ng-invalid, input.ng-invalid-pattern {
    border: 1px solid #CE5454;
    box-shadow: 0 0 4px -2px #CE5454;
    position: relative;
    left: 0;
    -moz-animation: .7s 1 shake linear;
    -webkit-animation: .7s 1 shake linear;
}

@media print {
    .print_mode {display: block!important;}
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}